.Delete{
    position: absolute;
    margin: auto;
    margin-right: 2%;
    right: 1%;
    top: 12%;

}
.Info{
    position: relative;
    font-size: xxx-large;
    
    margin-right:50%;
    margin-top:.5%;
}
.Title{
    margin-right: 20%;
    margin-left: 5%;
    text-align: left;
}
.Wage{
    position: absolute;
    margin-right: 5%;
    left:120%;
}
.Update{
    position: absolute;
    margin: auto;
    margin-right: 20px;
    right: 9%;
    top: 12%;

}
.Card{
    
    height: 30px;

    overflow: hidden;
    white-space: nowrap;
    background-color: teal;
}